<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users are here</title>
</head>
<body>
    <h1>All users</h1>

    <hr>

    <p><a href="/admin/">Back</a></p>

    <!--<p th:each="user : ${users}"-->
       <!--th:text="${user.toString()}"/>-->

    <table width="75%" border="1px solid black">
        <th:block th:each="user : ${users}">
            <tr>
                <td><p th:text="${user.toString()}">User</p></td>
                <td>
                    <a th:id="${#ids.seq('user')}"
                       th:text="Remove"
                       th:href="@{http://localhost:8081/admin/remove-user(userId=${user.getId()})}">Remove
                    </a>
                </td>
            </tr>
        </th:block>
    </table>

    <br><hr>

</body>
</html>